
$containerWidth: 940px;
$baseFontSize: 18px;
$tablets: 768px;
$phones: 480px;
$grey: #F5F5F5;
$white: #ffffff;
 $z-fixed-menu: 100; 
@import "media.scss";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
@import "layout/normalize.scss";
@import "layout/base.scss";
@import "blocks/section.scss";
@import "blocks/hero.scss";
@import "blocks/btn.scss";
@import "blocks/row.scss";
@import "blocks/structure.scss";
@import "blocks/reviews.scss";
@import "blocks/reviews__switcher.scss";
@import "blocks/interactive-avatar.scss";
@import "blocks/promo.scss";
@import "blocks/form.scss";
@import "blocks/order.scss";
@import "blocks/countdown.scss";